{% extends "base.html" %}

{% block content %}
<h1>About</h1>
<p>Welcome to Santa's workshop. This application is reponsible for managing Santa's NAUGHTY and NICE list, or rather the verdicts of those who have been JUDGED in his name. There are several pages for this applications, the login and register pages of course. The main list page (where one can view the status of each person), and the "Add" and "Remove" pages that allow one to remove and add people to the list. We considered adding some functionality to allow modification of people on the list, but then we remembered that at the North Pole, we don't make mistakes.</p>


{% endblock %}