<html>
    {% autoescape false %}
<head>
    {% if title %}
    <title>{{ title }} - Santa's List</title>
    {% else %}
    <title>Santa's List</title>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</head>

<body>
    <div>Santa's List: 
        <a href="/list">THE LIST</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/remove">Remove</a>
        <a href="/add">Add</a>
        <a href="/about">About</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
    {% if submessage %}
    <h2>{{ submessage }}</h2>
    {% endif %}
</body>
{% endautoescape %}
</html>