{% extends "base.html" %}

{% block content %}
<h1>THE LIST</h1>

<form action="" method="post" novalidate>
    <p>{{ form.submit()}}</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>>
            <th>Status</th>
            <th>Why</th>

        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.0}}</td>
            <td>{{user.1}}</td>
            <td>{{user.2}}</td>
            <td>{{user.3}}</td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}